body, html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a {
	text-decoration: none;
}

/* Шапка */
.header {
	width: 100%;
}

.header-container {
	width: 85%;
	margin: 1% auto 2% auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

/* Лого сайта */
.header__logo {
	margin-left: 1%;
}

/* Навигация */
.navigation {
	margin-right:;
	width: 56%;
	height: 80px;
	margin-right: 3%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation__item a{
	/* H5 Head */
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	/* or 121% */
	/* Земля */
	color: #675A54;
}

/* Связь */
.header__callgroup-container {
	width: 27%;
	height: 80px;
	display: flex;
	align-items: center;
}

.header__callgroup {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
/* Кнопка */
.callback__button-container {
	width: 216px;
	height: 50px;
	display: flex;
	align-items: center;
	background-color: #6BBD45;
	justify-content: center;
	border-radius: 20px 0 20px 0;
	color: #fff;

}

.header__callgroup a {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
}
/* Номер телефона */
.header__callgroup .number {
	color: #0068B1;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	margin-right: 8%;
}

/* Продажа земельных участков + фото */
.land__selling-container {
	box-sizing: border-box;
	width: 95%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	flex-grow: 0;
	flex-shrink: 1;
}

	.land__selling-container::after {
		content: "";
		width: 38%;
		height: 15px;
		display: flex;
		align-self: flex-start;
		background-color: #fff;
		position: relative;
		bottom: 12px;
	}
/* Фото поселка */
.village__photo {
	height: 530px;
	width: 100%;
	background-image: url('img/village-photo.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 60% 90%;
	display: flex;
	flex-grow: 0;
	flex-shrink: 1;
	align-items: flex-end;
}
/* Затемнение фото */
.dark__bg {
	background: rgba(0, 0, 0, 0.4);
	width: 83%;
	box-sizing: border-box;
	border-top: 10px solid #2983D4;
	border-right: 10px solid #2983D4;
	display: flex;
	justify-content: center;
	flex-shrink: 1;
	flex-wrap: wrap;
	flex-basis: content;
}
/* Продажа земельных участков */
.village__photo .article {
	text-align: left;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 1.8%;
	margin-left: 2.35%;
	margin-top: 1.2%;
}

.village__photo .article h1 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 56px;
	line-height: 68px;
	/* or 121% */
	color: #fff;
	margin: 0;
	margin-bottom: -1%;
}

.village__photo .article span {
	/* Body 1 */
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 34px;
	/* or 121% */
	color: #fff;
}
/* Контейнер с преимуществами */
.land__selling {
	display: flex;
	box-sizing: border-box;
	width: 66%;
	height: 250px;
	margin: 0 auto;
	padding: 0;
	/*flex-direction: column;*/
	overflow: hidden;
	border-bottom: 10px solid #6BBD45;
	/*	 padding-right: 2%;*/
	justify-content: space-between;
}

/*.land__selling::after {
	content: "";
	width: 700px;
	height: 10px;
	background-color: #6BBD45;
	display: flex;
	align-self: flex-end;
}*/
/* Преимущества */
.land__selling .goods {
	width: 1180px;
	height: 200px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	flex-shrink: 0;
	/*	padding-top: 20px;*/
	/*padding-bottom: 90px;*/

}

/*.goods::after {
	content: "";
	background-image: linear-gradient(180deg, #2983D4 7%, #6BBD45 30%);
	width: 10px;
	height: 101%;
}*/

.land__selling .goods__item .item1 {
	margin-left: -10px;
}

.land__selling .goods__item {
	box-sizing: border-box;
	display: flex;
	padding-top: 30px;
}

.land__selling .goods__item h4 {
	/* H4 Head */
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	/* or 122% */
	/* Земля */
	color: #675A54;
}

.land__selling .goods__item span {
	/* Body 3 */
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	/* or 136% */
	/* Земля */
	color: #675A54;
}

.land__selling::before {
	content: "";
	background-image: linear-gradient(180deg, #2983D4 15%, #6BBD45);
	width: 10px;
	height: 130px;
	display: flex;
	position: relative;
	left: 99.15%;
} 



.land__selling::after {
	content: "";
	background-color: #6BBD45;
	width: 10px;
	height: 130px;
	display: flex;
	align-self: flex-end;
}

/* Логотипы преимуществ */

.item__logo {
	box-sizing: border-box;
	margin-top: 27px;
}

/* Бирка конфиденциальности */
.confidentity {
	background-image: url('img/confidentity.png');
	width: 75px;
	height: 65px;
	background-position: 80% 80%;
	position: absolute;
	right: 0;
}

/* Карточки предложений */

.offers__container {
	width: ;
	margin-top: 60px;
	overflow: hidden;
}
/* Панель переключения вида/слайдов */
.switch__bar {
	width: 62%;
	height: 45px;
	display: flex;
	align-self: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}
/* Переключение вида */
.offers__container .switch__bar .display__switch {
	width: 248px;
	height: inherit;
	display: flex;
	justify-content: space-between;
	border: 1px solid #D1D1D1;
	box-sizing: border-box;
	border-radius: 30px;
} /* Списком */
.offers__container .display__switch .list {
	background-color: #6BBD45;
	height: inherit-1px;
	width: 134px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #fff;
	border: none;
}

.display__switch .list:hover, .map:hover {
	cursor: pointer;
}

.display__switch .list:focus, .map:focus {
	outline: none;
}
/* На карте */
.display__switch .map {
	height: inherit-1px;
	width: 114px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #675A54;
	border: none;
	background-color: #fff;
	border-radius: 0 30px 30px 0;
}
/* Пролистывание карточек */
.switch__bar .turn__card {
	width: 105px;
	display: flex;
	justify-content: space-between;
}
/* Карточки */
.offers {
	position: relative;
	left: 19%;
	display: flex;
	width: 1603px;
	margin-bottom: 100px;
}

.offer__card {
	width: 388px;
	height: 500px;
	border-radius: 2px 2px 0px 0px;
	border: 1px solid rgba(209, 209, 209, 0.5);
	box-sizing: border-box;
	filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.1));
}

.offer__card:not(:last-of-type) {
		margin-right: 14px;
}

.offer__card .photo {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

}

.offers .card1 .photo {
	background-image: url('img/offers-comps/offer1.png');
}

.offers .card1 .photo::before {
	display: inline-block;
	content: "";
	width: 58px;
	height: 58px;
	background-image: url('img/offers-comps/logo1.png');
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 30px;
	position: relative;
	bottom: 49%;
	left: 5%;
}

.offers .card2 .photo {
	background-image: url('img/offers-comps/offer2.png');
} 

.offers .card2 .photo::before {
	display: inline-block;
	content: "";
	width: 58px;
	height: 58px;
	background-image: url('img/offers-comps/logo2.png');
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 30px;
	position: relative;
	bottom: 49%;
	left: 5%;
}

.offers .card3 .photo {
	background-image: url('img/offers-comps/offer3.png');
} 

.offers .card3 .photo::before {
	display: inline-block;
	content: "";
	width: 58px;
	height: 58px;
	background-image: url('img/offers-comps/logo3.png');
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 30px;
	position: relative;
	bottom: 49%;
	left: 5%;
}

.offers .card4 .photo {
	background-image: url('img/offers-comps/offer4.png');
	background-repeat: no-repeat;
} 

.offers .card4 .photo::before {
	display: inline-block;
	content: "";
	width: 58px;
	height: 58px;
	background-image: url('img/offers-comps/logo4.png');
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 30px;
	position: relative;
	bottom: 49%;
	left: 5%;
}

.offer__card .photo .village__name {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #fff;
	padding: 9px 0 20px 20px;
	background-color: rgba(0, 0, 0, 0.5);
}

.offer__card .content {
	height: 50%;
	display: flex;
	flex-direction: column;
}

.offer__card .content .info {
	height: 75%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 20px;
}

.offer__card .content .location {
	padding-top: 15px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #392424;
}

.offer__card .content .quantity {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	padding-left: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: #675A54;
}

.quantity span{
	margin-top: 10px;
	display: inline-block;
}

.offer__card .content .lands {
	height: 25%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #675A54;
	background: #F3EFED;
	border-radius: 0px 0px 2px 2px;
}

.lands .logo {
	width: 50px;
	height: 49px;
	background-image: url('img/offers-comps/border.svg');
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 5%;
}

.lands .logo::before {
	content: "";
	display: block;
	width: 26px;
	height: 50px;
	background-image: url('img/offers-comps/timeline.svg');	
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	left: 46%;
}

.lands .logo::after {
	content: "";
	display: block;
	width: 25px;
	height: 25px;
	background-image: url('img/offers-comps/arrow.svg');	
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	bottom: 75%;
	left: 23%;
}

.lands .logo:hover::after {
	filter: brightness(1.3) saturate(0.6);
}

.lands .logo:hover::before {
	transform-origin: left center;
	transform: rotate(180deg) translate(-3px, -1px);
	filter: brightness(1.3) saturate(0.6);
}

.offers__container .card4 {
	filter: opacity(0.4);
}

.quantity .selled::before {
	content: "";
	display: inline-block;
	position: relative;
	top: 5px;
	right: 15px;
	width: 20px;
	height: 20px;
	background-image: url('img/offers-comps/selled.svg');
	background-repeat: no-repeat;
	background-position: center;

}

.quantity .booked::before {
	content: "";
	display: inline-block;
	position: relative;
	top: 5px;
	right: 15px;
	width: 20px;
	height: 20px;
	background-image: url('img/offers-comps/clocks.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.quantity .available::before {
	content: "";
	display: inline-block;
	position: relative;
	top: 5px;
	right: 15px;
	width: 20px;
	height: 20px;
	background-image: url('img/offers-comps/available.svg');
	background-repeat: no-repeat;
	background-position: center;
}

/* Выберите свой участок */

.land__choose-container {
	height: 542px;
	width: 94%;
	box-sizing: border-box;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	margin-bottom: 98px;
}
/* Градиентная рамка */
.land__choose-container .border {
	width: 62.552%;
	height: 541px;
	display: flex;
	box-sizing: border-box;
	border-top: 10px solid #2983D4;
	border-bottom: 10px solid #7EC95C;
	margin-right: auto;
	margin-left: auto;
	justify-content: space-between;
	position: absolute;
	left: 18.7%;
}

.land__choose-container .border::before {
	content: "";
	display: inline-block;
	height: 530px;
	width: 10px;
	background-image: linear-gradient(180deg, #2983D4 5%, #7EC95C 20%);
	z-index: 5;
} 

.land__choose-container .border::after {
	content: "";
	display: inline-block;
	height: 530px;
	width: 10px;
	background-image: linear-gradient(180deg, #2983D4, #7EC95C);
} 
/* Фон */
.land__choose-container .background {
	width: 100%;
	height: 80.8%;
	box-sizing: border-box;
	margin-top: 50px;
	/*background-color: #F3EFED;*/
}

.land__choose-container .bg-parts {
	width: 100%;
/*	position: absolute;*/
	display: flex;
	margin: auto 0;
}

.bg-parts .left {
	width: 688px;
	height: 430px;
	box-sizing: border-box;
	background-image: url('img/land__choose-bg/left.png');
	background-repeat: no-repeat;
	background-position: -40px center;
	z-index: 2;
	position: relative;
	display: inline-block;
}

.bg-parts .center {
	width: 655px;
	height: 430px;
	box-sizing: border-box;
	background-image: url('img/land__choose-bg/left.png');
	background-position: -72px center;
	background-repeat: no-repeat;
	z-index: 1;
}

.bg-parts .right {
	width: 442px;
	height: 430px;
	box-sizing: border-box;
	background-image: url('img/land__choose-bg/right.png');
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 2;
}

.bg-parts::after {
	content: "";
	width: 94%;
	height: 430px;
	position: absolute;
	background-color: #F3EFED;
	opacity: 0.8;
	z-index: 3;
}
/* Контейнер с подбором участка */
.land__choose {
	display: flex;
	/*flex-direction: column;*/
	/*justify-content: center;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	bottom: 70%;
	z-index: 5;
	/*width: 1255px;*/
	width: 66.6%;
	height: 300px;
	box-sizing: border-box;
}

/* Подбор участка */
.land__choose-inner {
	width: 89%;
	height: 300px;
	padding-left: 9.5%;
	display: flex;
	flex-direction: column;
	padding-top: 5px;
}
/* Заголовок */
.land__choose-inner .article {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: #675A54;
	margin-bottom: 60px;
}
/* Слайдеры + кнопка */
.land__choose-inner .choose__panel {
	display: flex;
	justify-content: space-between;
	width: 99%;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 17px;
	color: #675A54;

}
/* Слайдеры */
.land__choose-inner .choose__panel input[type="range"]{
	margin-top: 25px;
	width: 330px;
	height: 14px;
}
/* Кнопка */
.land__choose-inner .choose__panel .choose__button {
	width: 216px;
	height: 50px;
	display: flex;
	align-items: center;
	background-color: #6BBD45;
	justify-content: center;
	border-radius: 20px 0 20px 0;
	color: #fff;
	border: none;
	margin-top: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
}

.land__choose-inner .choose__panel .choose__button:hover {
	cursor: pointer;
}

.land__choose-inner .choose__panel .choose__button:focus {
	outline: none;
}

/* О компании */
.about-container {
	width: 62.552%;
	/*border: 2px dashed green;*/
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 100px;
}

.about-container .article {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: #675A54;
	margin-bottom: 50px;
}

.about {
	width: 100%;
	display: grid;
	grid-template-rows: 183px 244px 183px;
	grid-template-columns: 50% 23.5% 23.5%;
	box-sizing: border-box;
	gap: 1%;
}

.about p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #392424;
	text-align: left;
}

.about .list__dots {
	display: flex;
}

.about h4 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #392424;
	margin-bottom: 20px;
}

.about > div {
	border: 1px solid #D1D1D1;
	box-sizing: border-box;
	border-radius: 3px;
	width: 100%;
	padding-top: 1%;
	padding-left: 6%;
}

.about > div:first-child {
	padding: 0 0 30px 30px;
}

.place__photo {
	grid-row: 1/3;
	grid-column: 1;
	display: flex;
	align-items: flex-end;
	background-image: url('img/about-comps/place-photo.png');
	padding-bottom: 30px;
	padding-left: 30px;
}

.years {
	grid-row: 1;
	grid-column: 2/4;
}

.support {
	grid-row: 2;
	grid-column: 2;
	background-color: #2983D4;
	color: #fff;
}

.service {
	grid-row: 2;
	grid-column: 3;
	background-color: #F3EFED;
}

.service a {
	color: #7EC95C;
}

.service p {
	margin-right: -20px;
}

.location {
	grid-row: 3;
	grid-column: 1;
}

.unique {
	grid-row: 3;
	grid-column: 2/4;
	background-color: #7EC95C;
	color: #fff;
}

.unique p, .support p, .unique h4, .support h4 {
	color: #fff;
}

.place__photo .list__dots {
	display: flex;
	justify-content: space-between;
	width: 125px;
}

.place__photo .list__dots span {
	width: 13px;
	height: 13px;
	background-color: #fff;
	border-radius: 20px;
}

.place__photo .list__dots span:hover {
	cursor: pointer;
	background-color: #7EC95C;
	transition: 0.3s;
}

/* Купить участок просто */
.simple__buy-container {
	width: 62.552%;
	/*border: 2px dashed green;*/
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 100px;
}

.simple__buy-container .article {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: #675A54;
	margin-bottom: 40px;
}

.buy__switch {
	display: flex;
	width: 35.85%;
	height: 40px;
	border-radius: 30px;
	box-sizing: border-box;
	justify-content: space-between;
	border: 1px solid #D1D1D1;
	background-color: #fff;
	margin-bottom: 50px;
}

.steps, .installment, .mortgage {
	width: 120px;
	border: none;
	border-radius: 30px;
	background-color: #fff;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
}

.buy__switch .steps {
	background-color: #6BBD45;
	width: 173px;
	color: #fff;
}

.steps:focus, .installment:focus, .mortgage:focus {
	outline: none;
	border: none;
}

.steps:hover, .installment:hover, .mortgage:hover {
	cursor: pointer;
}

.steps-container {
	width: 100%;
	display: flex;
	/*justify-content: space-between;*/
}

.steps__item {
	width: 28%;
	display: flex;
	flex-direction: column;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #392424;
}

.steps-container .item4 {
	width: 15%;
}

.steps__item .logo {
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
}

.item1 .logo {
	width: 100%;
	height: 125px;
	background-image: url('img/simple_buy-comps/logo1.svg');
	background-repeat: no-repeat;
	background-position: left bottom;
}

.item2 .logo {
	width: 100%;
	height: 125px;
	background-image: url('img/simple_buy-comps/logo2.svg');
	background-repeat: no-repeat;
	background-position: left bottom;
}

.item3 .logo {
	width: 100%;
	height: 125px;
	background-image: url('img/simple_buy-comps/logo3.svg');
	background-repeat: no-repeat;
	background-position: left bottom;
}

.item4 .logo {
	width: 100%;
	height: 125px;
	background-image: url('img/simple_buy-comps/logo4.svg');
	background-repeat: no-repeat;
	background-position: left bottom;
}

.item1 .logo::before {
	content: "1";
	display: flex;
	width: 24px;
	height: 24px;
	background-color: #675A54;
	border-radius: 30px;
	color: #fff;
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 10px;
	left: 6px;
}

.item2 .logo::before {
	content: "2";
	display: flex;
	width: 24px;
	height: 24px;
	background-color: #675A54;
	border-radius: 30px;
	color: #fff;
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 10px;
	left: 6px;
}

.item3 .logo::before {
	content: "3";
	display: flex;
	width: 24px;
	height: 24px;
	background-color: #675A54;
	border-radius: 30px;
	color: #fff;
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 10px;
	left: 6px;
}

.item4 .logo::before {
	content: "4";
	display: flex;
	width: 24px;
	height: 24px;
	background-color: #675A54;
	border-radius: 30px;
	color: #fff;
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 10px;
	left: 6px;
}

.item1 .logo::after {
	content: "";
	width: 55%;
	height: 0;
	border: 1px solid #D1D1D1; 
	display: inline-block;
	margin-top: 13%;
	margin-left: 39%;

}

.item2 .logo::after {
	content: "";
	width: 55%;
	height: 0;
	border: 1px solid #D1D1D1; 
	display: inline-block;
	margin-top: 13%;
	margin-left: 39%;
}

.item3 .logo::after {
	content: "";
	width: 55%;
	height: 0;
	border: 1px solid #D1D1D1; 
	display: inline-block;
	margin-top: 13%;
	margin-left: 39%;
}

/* Запишитесь на просмотр */
.view__signup-container {
	height: 542px;
	width: 94%;
	box-sizing: border-box;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
}

.view__signup-container .border {
	width: 62.552%;
	height: 541px;
	display: flex;
	box-sizing: border-box;
	border-top: 10px solid #2983D4;
	border-bottom: 10px solid #7EC95C;
	margin-right: auto;
	margin-left: auto;
	justify-content: space-between;
	position: absolute;
	left: 18.7%;
}

.view__signup-container .border::before {
	content: "";
	display: inline-block;
	height: 530px;
	width: 10px;
	background-image: linear-gradient(180deg, #2983D4 5%, #7EC95C 20%);
	z-index: 5;
} 

.view__signup-container .border::after {
	content: "";
	display: inline-block;
	height: 530px;
	width: 10px;
	background-image: linear-gradient(180deg, #2983D4, #7EC95C);
} 
/* Фон */
.view__signup-container .background {
	width: 100%;
	height: 430px;
	position: relative;
	top: 10%;
	display: flex;
	margin: auto 0;
	background-image: url('img/view_signup-comps/bg.png');
	background-repeat: no-repeat;
}

.view__signup-container .background::after {
	content: "";
	width: 100%;
	height: 430px;
	background-color: #F3EFED;
	opacity: 0.8;
	z-index: 3;
}

.view__signup {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	bottom: 70%;
	z-index: 5;
	width: 66.6%;
	height: 300px;
	box-sizing: border-box;
}


.view__signup-inner {
	width: 89%;
	height: 300px;
	padding-left: 110px;
	display: flex;
	flex-direction: column;
	padding-top: 60px;
}
/* Заголовок */
.view__signup-inner .text {
	display: flex;
}

.view__signup-inner .article {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: #675A54;
	margin-bottom: 60px;
}

.view__signup-inner .description {
	height: 100px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #675A54;
	margin-top: 40px;
	margin-left: 50px;
}

/* Формы + чекбокс */
.view__signup-inner .signup__panel {
	display: flex;
	justify-content: space-between;
	width: 986px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 17px;
	color: #675A54;
	align-items: center;
	margin-bottom: 15px;
}

/*  */
.name__form, .phone__form {
	border: 1px solid #D1D1D1;
	box-sizing: border-box;
	border-radius: 3px;
	line-height: 3;
}

/* Кнопка */
.view__signup-inner .signup__panel .signup__button {
	width: 216px;
	height: 50px;
	display: flex;
	align-items: center;
	background-color: #6BBD45;
	justify-content: center;
	border-radius: 20px 0 20px 0;
	color: #fff;
	border: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
}

.view__signup-inner .signup__button:hover {
	cursor: pointer;
}

.view__signup-inner .signup__button:focus {
	outline: none;
}

.view__signup-inner .checkbox label{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: #827D7B;
}

.view__signup-inner .checkbox span {
	font-weight: bold;
}

/* Почему выбирают земельные участки у нас? */
.why__us-container {
	width: 62.552%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 100px;
}

.why__us-container .article {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: #675A54;
	margin-bottom: 40px;
}

/* Сетка */
.why__us {
	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	grid-template-rows: 240px 214px 214px; 
	gap: 1.2%;
	width: 100%%;
}

.why__us > div {
	border: 1px solid #D1D1D1;
	box-sizing: border-box;
	border-radius: 3px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #392424;
	padding: 30px 0 0 28px;
}

.why__us .gas {
	grid-row: 1;
	grid-column: 1;
	background-color: #F3EFED;
}

 .gas::after {
	content: "";
	display: block;
	width: 59px;
	height: 60px;
	background-image: url('img/why_us-comps/gas.svg');
	position: relative;
	top: 50%;
	left: 70%;
}

.why__us .lighting {
	grid-row: 1;
	grid-column: 2;
	color: #fff;
	background-image: url('img/why_us-comps/lighting.png');
}

.why__us .roads {
	grid-row: 1;
	grid-column: 3;
	color: #fff;
	background-image: url('img/why_us-comps/roads.png');
}

.infrastructure {
	grid-row: 1;
	grid-column: 4;
	background-color: #F3EFED;
}

.infrastructure::after {
	content: "";
	display: inline-block;
	width: 59px;
	height: 50px;
	background-image: url('img/why_us-comps/infrastructure.svg');
	position: relative;
	top: 53%;
	left: 70%;
}

.why__us .loyal__buyer {
	grid-row: 2/4;
	grid-column: 1/3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.why__us .loyal__buyer .article {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	width: 535px;
}

.why__us .loyal__buyer .article p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
}

.why__us .electricity {
	grid-row: 2;
	grid-column: 3/5;
	background-image: url('img/why_us-comps/electricity.png');
	color: #fff;
}

.family {
	grid-row: 3;
	grid-column: 3/5;
	background-image: url('img/why_us-comps/family.png');
}

.why__us .loyal__buyer .panel {
	width: 95%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.why__us .loyal__buyer .choose__button {
	width: 254px;
	height: 50px;
	display: flex;
	align-items: center;
	background-color: #6BBD45;
	justify-content: center;
	border-radius: 20px 0 20px 0;
	color: #fff;
	border: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	margin-left: 10px;
}

.why__us .loyal__buyer .choose__button:hover {
	cursor: pointer;
}

.why__us .loyal__buyer .choose__button:focus {
	outline: none;
}

.why__us .panel .turn__slide {
	width: 144px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: flex-end;
}

.why__us .loyal__buyer .article {
	display: flex;
	justify-content: space-around;
}

.loyal__buyer .article .logo {
	width: 193px;
	height: 177px;
	background-image: url('img/why_us-comps/loyal_buyer.svg');
}

.loyal__buyer .panel .turn__slide .dot {
	width: 6px;
	height: 6px;
	background-color: #D1D1D1;
	border-radius: 3px;
}

.loyal__buyer .panel .turn__slide .dot:first-of-type {
	background-color: #6BBD45;
}

.loyal__buyer .panel .turn__slide .dot:hover {
	background-color: #6BBD45;
	transition: 0.4s;
	cursor: pointer;
}

/* Вопросы */
.questions-container {
	width: 94.79%;
	height: 224px;
	margin: 0 auto;
	background-color: #F3EFED;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
}

.questions-inner {
	width: 67%;
	height: 100%;
	margin: auto;
	display: flex;
	/*justify-content: space-between;*/
	align-items: center;
}

.questions {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.questions h2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: #675A54;
	margin-bottom: 0;
}

.questions p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #392424;
}

.questions__panel {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 60%;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 17px;
	color: #675A54;
	margin-top: 30px;
}

.questions__panel .questions__button {
	width: 216px;
	height: 50px;
	display: flex;
	align-items: center;
	background-color: #6BBD45;
	justify-content: center;
	border-radius: 20px 0 20px 0;
	color: #fff;
	border: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
}

.questions__panel .questions__button:hover {
	cursor: pointer;
}

.questions__panel .questions__button:focus {
	outline: none;
}

.questions__panel .forms {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin-bottom: 15px;
}

.questions__panel .forms input {
	height: 45px;
}

.questions__panel .checkbox label {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
}

.questions__panel .checkbox label span {
	font-weight: bold;
}

.questions-container::after {
	content: "";
	width: 100%;
	height: 10px;
	display: block;
	background-image: linear-gradient(90deg, #2983D4 50%, #7EC95C 53%);
}

/* Карточки новостей */
.news__container {
	width: ;
	margin-top: 60px;
	overflow: hidden;
}

.news__container .container__article {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: #675A54;
	margin-left: 19%;
	margin-bottom: 50px;
}
/* Панель переключения вида/слайдов */
.switch__bar {
	width: 62%;
	height: 45px;
	display: flex;
	align-self: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}
/* Переключение вида */
.switch__bar .display__switch {
	width: 492px;
	height: inherit;
	display: flex;
	justify-content: space-between;
	border: 1px solid #D1D1D1;
	box-sizing: border-box;
	border-radius: 30px;
} /* Списком */
.display__switch .to__news {
	background-color: #6BBD45;
	height: inherit-1px;
	width: 134px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #fff;
	border: none;
}

.display__switch .to__news:hover, .to__news:hover {
	cursor: pointer;
}

.display__switch .to__news:focus, .to__news:focus {
	outline: none;
}
/* На карте */
.display__switch .to__stories {
	height: inherit-1px;
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #675A54;
	border: none;
	background-color: #fff;
	border-radius: 0 30px 30px 0;
}

.display__switch .to__stories:hover, .to__stories:hover {
	cursor: pointer;
}

.display__switch .to__stories:focus, .to__stories:focus {
	outline: none;
}

.display__switch .to__useful {
	height: inherit-1px;
	width: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #675A54;
	border: none;
	background-color: #fff;
	border-radius: 0 30px 30px 0;
}

.display__switch .to__useful:hover, .to__useful:hover {
	cursor: pointer;
}

.display__switch .to__useful:focus, .to__useful:focus {
	outline: none;
}
/* Пролистывание карточек */
.switch__bar .turn__card {
	width: 142px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.switch__bar .turn__card div {
	width: 6px;
	height: 6px;
	background-color: #D1D1D1;
	border-radius: 3px;
}

.switch__bar .turn__card div:first-of-type {
	background-color: #7EC95C;
}

.switch__bar .turn__card div:hover {
	background-color: #7EC95C;
	transition: 0.3s;
	cursor: pointer;
}

/* Карточки */
.news {
	position: relative;
	left: 19%;
	display: flex;
	width: 83.4%;
	margin-bottom: 100px;
}

.news__card {
	width: 388px;
	height: 500px;
	border-radius: 2px 2px 0px 0px;
	border: 1px solid rgba(209, 209, 209, 0.5);
	box-sizing: border-box;
	filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.1));
}

.news__card:not(:last-of-type) {
		margin-right: 14px;
}

.news__card .photo {
	height: 45%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

}

.news .card1 .photo {
	background-image: url('img/news-comps/news1.png');
	background-repeat: no-repeat;
	background-position: center;
}

.news .card2 .photo {
	background-image: url('img/news-comps/news2.png');
	background-repeat: no-repeat;
	background-position: center;
} 

.news .card3 .photo {
	background-image: url('img/news-comps/news3.png');
	background-repeat: no-repeat;
	background-position: center;
} 

.news .card4 .photo {
	background-image: url('img/news-comps/news4.png');
	background-repeat: no-repeat;
	background-position: center;
} 

.news__card .content {
	height: 55%;
	display: flex;
	flex-direction: column;
}

.news__card .content .info {
	height: 75%;
	display: flex;
	flex-direction: column;
	padding-left: 25px;
	padding-bottom: 20px;
}

.news__card .content .article {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #675A54;
	margin-top: 25px;
	margin-bottom: 10px;
}

.news__card .content .description {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #392424;;
}

.news__card .content .read__full {
	height: 25%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #6BBD45;
}

.news__card .content .read__full time {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #979290;
	margin-right: 20px;
}

.news__container .card4 {
	filter: opacity(0.4);
}

/* Подписка на рассылку */
.mailing-container {
	width: 100%;
	height: 110px;
	background-color: #392424;
}

.mailing {
	width: 62.552%;
	height: inherit;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mailing .main__part {
	display: flex;
}

.mailing .logo {
	background-image: url('img/mailing-comps/logo.svg');
	background-repeat: no-repeat;
	width: 65px;
	height: 45px;
	margin: auto 0;
}

.mailing .text {
	color: #fff;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	padding-left: 20px;
	margin-right: 50px;
	margin-top: auto;
	margin-bottom: auto;
}

.mailing .panel {
	width: 550px;
	display: flex;
	flex-direction: column;
	color: white;
}

.mailing .forms {
	display: flex;
	margin-bottom: 10px;
	align-items: center;
}

.panel .subscribe__button {
	width: 216px;
	height: 50px;
	display: flex;
	align-items: center;
	background-color: #6BBD45;
	justify-content: center;
	border-radius: 20px 0 20px 0;
	color: #fff;
	border: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
}

.panel .subscribe__button:hover {
	cursor: pointer;
}

.panel .subscribe__button:focus {
	outline: none;
}

.mailing .forms .email__form {
	height: 50px;
	border: 1px solid rgba(80, 66, 66, 0.2);
	box-sizing: border-box;
	border-radius: 3px;
	margin-right: 30px;
	font-family: Montserrat;
    font-style: normal;
    font-size: 15px;
    line-height: 17px;
    color: #666;
}

.mailing .checkbox label {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
}

.mailing .checkbox label span {
	font-weight: bold;
}

.mailing .socials {
	display: flex;
	width: 150px;
	height: 30px;
	justify-content: space-between;
	align-items: center;
}

.fb {
	width: 16px;
	height: 20px;
	background-image: url('img/mailing-comps/fb.svg');
	background-repeat: no-repeat;
	background-position: center 100%;
}

.vk {
	width: 25px;
	height: 20px;
	background-image: url('img/mailing-comps/vk.svg');
	background-repeat: no-repeat;
	background-position: center 100%;
}

.inst {
	width: 18px;
	height: 20px;
	background-image: url('img/mailing-comps/inst.svg');
	background-repeat: no-repeat;
	background-position: center 100%;
}

.youtube {
	width: 20px;
	height: 22px;
	background-image: url('img/mailing-comps/youtube.svg');
	background-repeat: no-repeat;
	background-position: center 100%;
}

.ok {
	width: 20px;
	height: 21px;
	background-image: url('img/mailing-comps/ok.svg');
	background-repeat: no-repeat;
	background-position: center 100%;
}

/* Подвал */
.footer {
	width: 100%;
	height: 375px;
	background-color: #675A54;
}

.footer-container {
	width: 62.552%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.footer__navigation {
	width: 100%;
	height: 65%;
	margin: inherit;
	display: flex;
	justify-content: space-between;
}

.footer__navigation .navigation {
	display: flex;
	width: 80%;
	height: 100%;
	justify-content: space-between;
	margin-right: 11.5%;
	align-items: flex-start;
}

.footer__navigation .navigation div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.footer__navigation .navigation a {
	display: flex;
	height: inherit;
	flex-direction: column;
	justify-content: space-around;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #fff;
	margin-top: 10px;
}

.footer__navigation .navigation h5 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #fff;
	margin: 0;
/*	margin-top: 20px;*/
}

/*.footer__navigation .navigation a:first-of-type {
	margin-top: 22px;
}*/

.footer__navigation .contacts {
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: #D1D1D1;
	margin-right: 80px;
}

.footer__navigation .contacts h5 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #fff;
	margin: 0;
	margin-top: 10px;
}

.footer__navigation .contacts .phone__number {
	margin-left: 30px;
	margin-bottom: 1px;
}

.footer__navigation .contacts .phone__number .number {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}

.footer__navigation .contacts .phone__number .number::before {
	content: "";
	width: 14px;
	height: 14px;
	display: block;
	background-image: url(img/footer-comps/phone.svg);
	position: relative;
	top: 13%;
	right: 13%;
}

.footer__navigation .contacts .adress {
	display: flex;
	flex-direction: column;
	color: #fff;
	margin-left: 30px; 
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
}

.footer__navigation .contacts .adress::before{
	content: "";
	width: 14px;
	height: 16px;
	display: block;
	background-image: url(img/footer-comps/map_marker.svg);
	position: relative;
	top: 28%;
	right: 13%;
}

.footer__navigation .contacts .adress a {
	color: #fff;
	text-decoration-line: underline;
	font-weight: bold;
}

.rights {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #AEAEAE;
	margin: 25px 0 10px 4px;
}

.dev__info {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #AEAEAE;
	margin-bottom: 10px;
	margin-left: 2px;
}

.dev__info a {
	color: #AEAEAE;
	text-decoration-line: underline;
}

.dev__info .developed::after {
	content: "";
	display: inline-block;
	width: 60px;
	height: 18px;
	background-image: url('img/footer-comps/iq_dev-logo.svg');
	background-repeat: no-repeat;
	background-position: center 100%;
	position: relative;
	top: 5px;
	left: 7px;
}

.attention {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #AEAEAE;
	margin-bottom: 10px;
}

.burger {
	width: 60px;
	height: 60px;
	background-image: url('img/footer-comps/burger.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: none;
	border: none;
	background-color: #fff;
}

.burger:hover {
	cursor: pointer;
}

.burger:focus {
	outline: none;
}

@media (min-width: 1670px) and (max-width: 1919px) {
	.item1 .logo::after, .item2 .logo::after, .item3 .logo::after {
		width: 45%;
		margin-left: 45%;
	}

	.why__us .loyal__buyer {
		justify-content: space-around;
	}

	.why__us .loyal__buyer .article {
    	display: flex;
    	flex-direction: column;
    	justify-content: space-around;
	}

	.why__us .loyal__buyer .article {
    	line-height: 20px;
    	margin-bottom: 0px;
	}

	.why__us .loyal__buyer .article p {
	    margin-bottom: 0;
	}

	.loyal__buyer .article .logo {
   		align-self: flex-end;
   		margin-right: 12%;
	}

	.why__us .loyal__buyer .panel {
    	margin-bottom: 0;
	}

	.why__us-container .infrastructure {
		padding-left: 5%
	}

	.questions-inner {
		height: 100%;
	}

	.questions__panel {
		height: 95%;
		margin-top: 0;
		width: 75%;
	}

	.questions-inner {
		width: 67%;
		height: 100%;
		margin: auto;
		display: flex;
		/*justify-content: space-between;*/
		align-items: center;
		flex-direction: column;
	}

	.questions__panel .checkbox {
		width: 70%;
		margin: 0 auto;
	}

	.view__signup-inner {
    	padding-left: 40px;
	}

	.land__choose-inner {
    	width: 89%;
    	height: 300px;
    	padding-left: 7%;
	}

	.view__signup-inner .signup__panel input {
    	width: 35%;
	}

}

@media (min-width: 1441px) and (max-width: 1669px) {
	.item1 .logo::after, .item2 .logo::after, .item3 .logo::after {
		width: 40%;
		margin-left: 52%;
		margin-top: 16%;
	}

	.land__choose-inner {
    	align-items: center;

	}

	.land__choose-inner .article {
		margin: 20px 0 30px 0;
	}

	.land__choose-inner .choose__panel {
		flex-direction: column;
		align-items: center;
		height: 70%;
	}

	.about p {
		padding-right: 3%;
	}

	.view__signup {
		height: 430px;
	}

	.view__signup-inner {
		height: inherit;
		padding-left: 5%;
		padding-top: 2%;
		width: 90%;
		margin: 0 auto;
	}

	.view__signup-inner .text {
		height: 35%;
	}

	.view__signup-inner .signup__panel {
		height: 40%;
		flex-direction: column;
		width: 100%;
	}

	.view__signup-inner .checkbox {
		text-align: center;
		width: 65%;
		margin: 2% auto;
	}

	.questions-inner {
		height: 100%;
	}

	.questions__panel {
		height: 95%;
		margin-top: 0;
		width: 75%;
	}

	.questions-inner {
		width: 67%;
		height: 100%;
		margin: auto;
		display: flex;
		/*justify-content: space-between;*/
		align-items: center;
		flex-direction: column;
	}

	.questions-inner .questions {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
	}

	.questions__panel .checkbox {
		width: 70%;
		margin: 0 auto;
	}

	.questions-inner .questions__panel {
		width: 80%;
	}

	.questions__panel .checkbox {
		width: 80%;
	}

	.header-container {
		width: 95%;
	}

	.header-container .navigation,  .header__callgroup .number {
		margin-right: 0;
	}

	.offer__card .content .location {
		font-size: 16px;
	}

	.offer__card .content .quantity {
		font-size: 15px;
	}

	.why__us-container .infrastructure {
		padding-left: 2%;
		font-size: 22px;
		padding-right: 5%;
	}

	.why__us .gas {
		padding-right: 8%;
	}

	.why__us .loyal__buyer {
		justify-content: space-around;
	}

	.why__us .loyal__buyer .article {
    	display: flex;
    	flex-direction: column;
    	justify-content: space-around;
	}

	.why__us .loyal__buyer .article {
    	line-height: 20px;
    	margin-bottom: 0px;
	}

	.why__us .loyal__buyer .article p {
	    margin-bottom: 0;
	}

	.loyal__buyer .article .logo {
   		align-self: center;
   		margin-left: 15%;
	}

	.why__us .loyal__buyer .panel {
    	margin-bottom: 0;
	}

	.why__us-container .infrastructure {
		padding-left: 5%;
		font-size: 21px;
	}

	.why__us .loyal__buyer .choose__button{
		margin-right: 10%;
		margin-left: 0;
	}

	.news__card .content .article {
		font-size: 17px;
	}

	.news__card .content .read__full {
		height: 59px;
		font-size: 15px;
	}

	.mailing {
		width: 65%;
	}

	.land__selling-container {
		width: 97%;
	}

	.dark__bg {
		width: 85%;

	}

	.land__selling {
		width: 70%;
	}

	.switch__bar .turn__card {
		width: 12%;
	}

	.footer__navigation .navigation {
		margin-right: 5%;
	}

	.footer__navigation .contacts {
		margin-right: 0;
	}
}

@media (min-width: 1024px) and (max-width: 1440px) {
	.header-container .navigation, .header__callgroup {
		display: none;
	}

	.burger {
		display: block;
	}

	.land__selling::before {
		content: "";
		width: 15px;
		height: 30px;
		display: flex;
		align-self: flex-end;
		background-color: #2983D4;
		left: 98.686%;
	}

	.land__selling::after {
		content: "ri";
		color: #6BBD45;
		width: 10px;
		height: 30px;
		display: flex;
		position: relative;
		background-color: #6BBD45;
		left: 98.8%;
		top: 90%;
	}

	.land__choose-inner {
    	align-items: center;
    	height: 350px;
    	margin: auto;
	}

	.land__choose-inner .article {
		margin: 0 0 30px 0;
	}

	.land__choose-inner .choose__panel {
		flex-direction: column;
		align-items: center;
		height: 70%;
	}

	.about-container {
		width: 64.5%;
	}

	.about {
		width: 92%;
		display: grid;
		grid-template-rows: 442px 244px;
		grid-template-columns: 289px 289px 289px 289px 289px;
		box-sizing: border-box;
		gap: 1%;
		margin: 0 auto;
		overflow: hidden;
		padding-bottom: 10px;
	}

	.place__photo {
		grid-row: 1;
		grid-column: 1/3;
		justify-content: center;
	}

	.years {
		grid-row: 2;
		grid-column: 1;
	}

	.support {
		grid-row: 2;
		grid-column: 2;
	}

	.service {
		grid-row: 2;
		grid-column: 3;
	}

	.location {
		grid-row: 2;
		grid-column: 4;
	}

	.unique {
		grid-row: 2;
		grid-column: 5;
	}

	.buy__switch {
		width: 60%;
	}

	.item1 .logo::after {
		display: none;
	}

	.item2 .logo::after {
		display: none;
	}

	.item3 .logo::after {
		display: none;
	}

	.simple__buy-container .steps__item {
		width: 20%;
	}

	.steps-container {
		justify-content: space-between;
	}

	.view__signup-inner {
		padding-top: 0;
		padding-left: 7%;
		height: 420px;
	}

	.view__signup-inner .signup__panel {
		flex-direction: column;
		width: 70%;
		height: 40%;
		margin-right: auto;
		margin-left: auto;
	}

	.why__us {
		display: grid;
    	grid-template-columns: 289px 289px 289px 289px 289px;
    	grid-template-rows: 240px 443px;
    	gap: 1.2%;
    	overflow: hidden;
    	padding-bottom: 20px;
	}

	.why__us .electricity {
		grid-row: 1;
		grid-column: 4;
	}

	.why__us .family {
		grid-row: 1;
		grid-column: 5;
	}

	.questions-inner {
		width: 100%;
		flex-direction: column;
	}

	.questions-inner .questions {
		width: 44%;
		margin-right: auto;
		margin-left: auto;
	}

	.questions__panel {
		margin-top: 0;
		width: 85%;
	}

	.questions__panel .checkbox {
		align-self: center;
	}

	.switch__bar .display__switch {
		width: 69.6%;
	}

	.news {
		width: 1603px;
		overflow: hidden;
	}

	.news__card .content .article {
		font-size: 22px;
	}

	.news__card .content .description {
		font-size: 17px;
	}

	.news__card .content .read__full {
		font-size: 16px;
	}

	.goods::after {
		display: none;
	}

	.offers__container {
		margin-left: -15%;
	}

	.mailing {
		width: 97%;
	}

	.footer-container {
		width: 95%;
	}

	.contacts p {
		margin-bottom: 0;
		margin-top: 5px;
	}

	.footer__navigation .contacts {
		margin-right: 20px;
	}

	.footer__navigation .navigation {
		margin-right: 10%;
		margin-left: 2%;
	}
}